/* Created by: austin scavone
* Created on: april 2023
* This file contains the CSS for index.html
*/

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

body {
  background-color: rgb(22, 90, 216);
}

p {
  color: rgb(230, 21, 21);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
}